# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Prog-Test\root\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
